.wrapper {
    z-index: 4;
    position: absolute;
    width: calc(100vw - 4.5rem);
    top: 1rem;
    left: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
    background-color: white;
    border-radius: 0.5rem;
    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.1));
    padding: 1rem;
    align-items: center;

    & p {
        margin: 0;
    }
}
