.icon {
    border: unset;
    border-radius: 50%;
    padding: 0.5rem;
    background-color: #ebecf8;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
        background-color: #f4f4f4;
    }

    &:focus {
        outline: #5f6ac4 solid 2px;
    }

    & svg {
        & path {
            fill: #272f6a;
        }
    }
}
