.container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #dff4fb;
    gap: 0.5rem;
    position: relative;
    cursor: pointer;
    width: 400px;

    &:active {
        border-radius: 0.5rem;
        border-color: lightgrey;
        border-style: solid;
        border-width: 2px;
    }

    &:hover {
        background-color: #d0e5eb;
    }

    & .head {
        background-color: #7fd4f0;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: black;
        border-radius: 0.5rem;

        & p {
            margin: 0;
            justify-content: flex-start;
        }

        & div {
            margin: 0;
            justify-content: flex-end;
        }
    }

    & .headActions {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        position: relative;

        & .icon {
            border: unset;
            border-radius: 50%;
            padding: 0.5rem;
            background-color: rgb(236, 236, 236);
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                background-color: darkgray;
            }
        }
    }

    & .content {
        background-color: white;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: black;
        border-radius: 0.5rem;
    }
}
