.wrapper {
    position: relative;
    width: 100%;
    background-color: white;
    border-radius: 0.5rem;
    border: 0;
    transition: all 0.2s ease;

    &:hover {
        background-color: #f4f4f4;
    }
}

.handle {
    display: flex;
    justify-content: center;
    align-items: center;

    width: auto;
    height: auto;
    background-color: transparent;
    border: 0;
    padding: 1rem;

    position: relative;
    bottom: unset;
}
