.wrapper {
    position: relative;
    width: 100%;
}

.span {
    position: absolute;
    z-index: 4;
    top: 0.5rem;
    right: 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: all 0.5s ease;
    padding: 0.5rem;

    &:hover {
        transform: scale(1.1);
        background-color: #f4f4f4;
    }

    &:active {
        transform: scale(0.95);
    }

    & svg {
        & path {
            fill: #5f6ac4;
        }
    }
}

.input {
    position: relative;
    border: 1px solid lightgrey;
    padding: 1rem;
    background-color: white;
    border-radius: 0.5rem;
    outline: lightgrey solid 1px;
    width: calc(100% - 34px);

    &::placeholder {
        color: lightgrey;
        font-style: italic;
    }

    &:focus,
    :active {
        outline: lightgrey solid 2px;
    }
}
