body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
}

input {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
}

.react-flow__handle {
    width: 8px !important;
    height: 8px !important;
    background: #ebecf8 !important;
    border: 0.5px solid #5f6ac4 !important;
    border-radius: 2px !important;
}

.react-flow__edges {
    z-index: 5 !important;
}
