.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
    align-items: center;
    background-color: transparent;

    & * {
        width: 100%;
    }
}
