.wrapper {
    position: relative;
}

.handle {
    width: 8px !important;
    height: 8px !important;
    background: #ebecf8 !important;
    border: 0.5px solid #5f6ac4 !important;
    border-radius: 2px !important;
}

.button {
    background-color: white;
    border: 0;
    padding: 1rem;
    border-radius: 0.5rem;
}
