.sidebarControlsToggle {
    background-color: white;
    border: unset;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;

    &:active {
        outline: #969cc7 solid 2px;
    }

    &:hover {
        background-color: #f4f4f4;
    }

    & svg {
        & path {
            fill: #5f6ac4;
        }
    }
}
