.path:hover {
    stroke-width: 4 !important;
}

.pathSelector:hover {
    cursor: pointer !important;
}

.pathSelector:hover + .path,
.path:hover {
    stroke-width: 4 !important;
    cursor: pointer !important;
}
